@charset "UTF-8";

body{
    background-color:white;
    margin: 0px ;
}
 h1{
    background-color:rgb(213, 2, 2);
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 15px;
   
 }

 h2{
   background-color: rgb(2, 2, 174);
   color: white;
   text-align: left;
   margin: 0px;
   margin-left: 0px;
   margin-right: 0px;
   height: 30px;
   padding: 9px 0px 0px 60px;
   font-size: 19px ;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 p{
      background-color: rgba(95, 158, 160, 0.301);
      font-size: 18px;
      text-align: center;
      margin: 200px 250px 100px 250px;
      margin-top: 200px;
      padding: 10px;
      border: black solid 1px;
}

a{
   text-align: center;
   background-color: rgba(0, 200, 255, 0.263);
   color: rgb(0, 60, 255);
   margin-left: 600px;
   text-decoration: none;
   padding: 15px;
   border-radius: 10px;
   font-family: monospace;
   box-shadow: 10px 10px blue;
   
}

@media all and (max-width: 768px) {
   body{
      background-color:white;
   } 
   h2{
      font-size: 15px;
      margin-left: 0px;
      margin-right: 0px;
   } 
   p{
     margin: 130px 30px 30px 30px;
    
   }
   
   a{
    text-align: center;
    margin: 170px 0px 0px 170px;
   }
}
   
 
   
   

    

 
